<h1 class="title">Params</h1>
<pre><code><%= @params.pretty_inspect %></code></pre>
<h1 class="title">Body</h1>
<pre><code><%= @body %></code></pre>
<h1 class="request_data">Request Data</h1>
<pre><code><%= @request.pretty_inspect </code></pre>
