<h1 class="subtitle">What would you like to do?</h1>
<p><a href="/admin/uploads/new">Upload influencer CSV</a></p>
<p><a href="/admin/orders/new">Create new orders for all influencers</a></p>
<p><a href="/admin/orders">View and edit orders and tracking</a></p>
<p><a href="/admin/influencers">View Influencers</a></p>
<p><a href="/admin/influencers/download">Download influencer CSV</a></p>
<p><a href="/admin/influencers/delete">Reset all influencers</a></p>
<p><a href="/admin/orders/delete">Reset order history</a></p>

<form class="is-pulled-right" action="/admin/orders/upload" method="post">
  <div class="field">
    <input class="button is-warning" type="submit" name="action" value="Send orders to Warehouse">
  </div>
</form>
